{% from 'blog/components/navbar.jinja' import NavBar with context %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Florimond Manca" />

    <title>{% block title %}Florimond Manca{% endblock title %}</title>

    <!-- PWA Manifest -->
    <link rel="manifest" href="{{ url_for('static', path='/manifest.json') }}" />

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/favicon.ico') }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', path='/favicon.ico') }}" />

    <!-- Android colors -->
    <meta name="theme-color" content="#59c6b6" />

    <!-- Apple web app config -->
    <link rel="apple-touch-icon" href="{{ url_for('static', path='/apple-touch-icon.png') }}" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">

    {% block head %}{% endblock head %}
  </head>

  <body>
    {{ NavBar() }}

    {% block content %}{% endblock %}

    <!-- Scripts placed at the end of the document so the pages load faster -->

    <script>
    // NOTE: Service worker was removed and unregistration code was added on 2020-04-03.
    // TODO: remove unregistration code after on 2020-20-03.
    if ("serviceWorker" in navigator) {
      navigator.serviceWorker.getRegistrations().then((registrations) => {
        Promise.all(registrations.map(registration => registration.unregister()));
      });
    }
    </script>

    <script src="{{ url_for('static', path='/js/ga.js') }}"></script>

    {% if settings.DEBUG %}
      <script>
        const ws = new WebSocket("{{ url_for('blog:hot-reload') }}");
        ws.onmessage = event => document.location.reload(true);
      </script>
    {% endif %}

    {% block tail %}{% endblock %}
  </body>
</html>
