@use "./variables" as v;
@use "./mixins";

.p-btn {
  background: none;
  color: inherit;
  display: inline-flex;
  align-items: center;
  font-size: 100%;
  font-family: inherit;
  padding-left: 3 * v.$space-unit;
  padding-right: 3 * v.$space-unit;
  height: 7 * v.$space-unit;
  line-height: 3.5 * v.$space-unit;

  &:hover {
    cursor: pointer;
  }
}

.p-btn:not(.p-btn--link) {
  border: 0;
  border-radius: 3px;
  box-shadow: 0px 1px 3px 0px transparentize(black, 0.3);
}

.p-btn--primary {
  background: v.$colorPrimary;

  &:hover {
    background: darken(v.$colorPrimary, 10%);
  }

  &:focus {
    background: darken(v.$colorPrimary, 20%);
  }
}

.p-btn--warn {
  background: v.$colorWarn;

  &:hover {
    background: darken(v.$colorWarn, 10%);
  }

  &:focus {
    background: darken(v.$colorWarn, 20%);
  }
}

.p-btn--icon {
  :first-child {
    margin-right: v.$space-unit;
  }
}

.p-card {
  background-color: v.$colorBackgroundCard;
  padding: 1em 2em;
  border-radius: 3px;
}

.p-image {
  @include mixins.u-mv(4);

  img {
    display: block;
    max-width: 100%;
    margin: auto;
  }

  figcaption {
    @include mixins.u-pt(2);
    text-align: center;
    color: v.$colorMuted;
    font-style: italic;
    font-size: v.$font-size-caption;
  }
}

.p-markdown-image {
  @extend .p-image;

  img {
    max-height: 20em;
  }
}
