@use "./variables" as v;
@use "./mixins";

.p-card {
  background-color: v.$colorBackgroundCard;
  padding: 1em 2em;
  border-radius: 3px;
}

.p-image {
  @include mixins.u-mv(4);

  img {
    display: block;
    max-width: 100%;
    margin: auto;
  }

  figcaption {
    @include mixins.u-pt(2);
    text-align: center;
    color: v.$colorMuted;
    font-style: italic;
    font-size: v.$font-size-caption;
  }
}

.p-markdown-image {
  @extend .p-image;

  img {
    max-height: 20em;
  }
}
