@use "./variables" as v;
@use "./components";
@use "./util";
@use "./code";
@use "./tables";
@use "./pygments_theme";
@use "./app";

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/eb-garamond/regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: normal;
  src: url("/static/fonts/eb-garamond/italic.ttf");
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 500;
  src: url("/static/fonts/eb-garamond/medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: bold;
  src: url("/static/fonts/eb-garamond/bold.ttf");
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  color: v.$colorText;
  font-family: "EB Garamond", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: v.$font-size;
  line-height: v.$font-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: v.$font-weight-headers;
  margin-top: 1 * v.$space-unit;
  margin-bottom: 3 * v.$space-unit;
}

h1 {
  font-size: v.$font-size-h1;
}

h2 {
  font-size: v.$font-size-h2;
}

h3 {
  font-size: v.$font-size-h3;
}

p {
  margin-top: 0;
  margin-bottom: 2 * v.$space-unit;
}

a {
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: inherit;

  &:hover {
    color: v.$colorPrimary;
    border-color: v.$colorPrimary;
  }
}

hr {
  margin: 0;
  padding: 0;
  border: 0;
  height: 1px;
  background-color: v.$colorDivider;
}
