@use "./variables" as v;
@use "./mixins";
@use "./components";
@use "./views";
@use "./util";
@use "./pygments_theme";

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: normal;
  src: url("/static/fonts/eb-garamond/regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  font-style: italic;
  font-weight: normal;
  src: url("/static/fonts/eb-garamond/italic.ttf");
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: 500;
  src: url("/static/fonts/eb-garamond/medium.ttf");
  font-display: swap;
}

@font-face {
  font-family: "EB Garamond";
  font-style: normal;
  font-weight: bold;
  src: url("/static/fonts/eb-garamond/bold.ttf");
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  color: v.$colorText;
  font-family: "EB Garamond", "Times New Roman", Times, serif;
  font-weight: normal;
  font-size: v.$font-size;
  line-height: v.$font-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: v.$font-weight-headers;
  margin-top: 1 * v.$space-unit;
  margin-bottom: 3 * v.$space-unit;
}

h1 {
  font-size: v.$font-size-h1;
}

h2 {
  font-size: v.$font-size-h2;
}

h3 {
  font-size: v.$font-size-h3;
}

p {
  margin-top: 0;
  margin-bottom: 2 * v.$space-unit;
}

a {
  text-decoration: none;
  border: none;
  cursor: pointer;
  color: inherit;

  &:hover {
    color: v.$colorPrimary;
    border-color: v.$colorPrimary;
  }
}

hr {
  margin: 0;
  padding: 0;
  border: 0;
  height: 1px;
  background-color: v.$colorDivider;
}

// Code blocks.

code {
  color: v.$colorCode;
  padding: 0.25rem 0.5rem;
  margin: 0;
  background-color: v.$colorCodeInlineBackground;
  border-radius: 3px;
}

.codehilite {
  > pre {
    background: v.$colorCodeBackground;
    padding: 1.25rem 1.5rem;
    overflow: auto;
  }
}

// Tables.
// Inspired by: https://github.com/vuejs/vuepress/blob/1a930dc22e4298b648dad37fa07e2442cdcb3c10/packages/%40vuepress/theme-default/styles/index.styl#L163-L177

table {
  border-collapse: collapse;
  display: block;
  margin: 1rem 0;
  overflow-x: auto;
}

tr {
  border-top: 1px solid #dfe2e5;

  &:nth-child(2n) {
    background-color: #f6f8fa;
  }
}

th,
td {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}

// Elements.

.p-card {
  background-color: v.$colorBackgroundCard;
  padding: 1em 2em;
  border-radius: 3px;
}

.p-image {
  @include mixins.u-mv(4);

  img {
    display: block;
    max-width: 100%;
    margin: auto;
  }

  figcaption {
    @include mixins.u-pt(2);
    text-align: center;
    color: v.$colorMuted;
    font-style: italic;
    font-size: v.$font-size-caption;
  }
}

.p-markdown-image {
  @extend .p-image;

  img {
    max-height: 20em;
  }
}
