{% extends "base.html.jinja" %}
{% from 'blog/layouts/layout.jinja' import Layout with context %}

{% block head %}
  {{ super() }}
  {% for item in page.meta -%}
    {{ item | safe }}
  {%- endfor %}
{% endblock head %}

{% block title %}
  {{ page.frontmatter.title or "Florimond Manca" }}
{% endblock title %}

{% block content %}
  {{ Layout() }}
{% endblock content %}
