{% from "components/article_tag_list.jinja" import ArticleTagList %}

{% macro ListItem(page) %}
<article class="c_list_item-item">
  <div class="c_list_item-post-header">
    {% if page.frontmatter.date -%}
      <label class="u-color-muted">
        {# TODO: date filter #}
        {{ page.frontmatter.date }}
      </label>
    {%- endif %}

    {% if page.frontmatter.tags -%}
      {{ ArticleTagList(
        page.frontmatter.tags,
        class="c_list_item-tag-list" + (" separated" if page.frontmatter.date else "")
      ) }}
    {%- endif %}
  </div>

  <h3>
    <a href="{{ with_base(page.permalink) }}">
      {{ page.frontmatter.title }}
    </a>
  </h3>

  <p>
    {{ page.frontmatter.description }}
  </p>
</article>
{% endmacro %}
