@use "../variables" as v;
@use "../mixins";

.c-jumbotron {
  @include mixins.u-ph(6);
  @include mixins.u-pv(6);
  background-color: v.$colorBackgroundCard;

  .c-jumbotron-card {
    text-align: center;

    @include mixins.forSize("tablet") {
      text-align: initial;
      display: grid;
      grid-gap: 3 * v.$space-unit;
      grid-template-columns: auto 1fr;
      align-items: center;
    }
  }

  h1 {
    margin-bottom: 0;
  }

  h2 {
    font-weight: normal;
    font-size: v.$font-size-h3;
    margin-bottom: 0;
  }

  .c-jumbotron-picture {
    display: block;
    $size: 22;
    @include mixins.u-rounded();
    @include mixins.u-w($size);
    @include mixins.u-h($size);
    @include mixins.u-mh(auto);
  }

  .c-jumbotron-lead {
    font-size: v.$font-size-h3;
  }

  .c-jumbotron-links {
    display: flex;
    justify-content: center;

    a {
      display: inline-flex;
      padding: 1 * v.$space-unit 3 * v.$space-unit;
    }
  }
}
