# Node
node_modules/

# Python
venv/
__pycache__/
.coverage
.mypy_cache
.pytest_cache
*.egg-info
*.mo

# Sass
.sass-cache
*.css.map

# Build
dist/
**/generated/*
!.gitkeep
server/static/css/styles.css

# Misc
.DS_Store
.env
*.backup.*
