# Runtime dependencies.
aiofiles==22.1.0
arel==0.2.0
asgi-sitemaps==1.0.0
babel==2.11.0
httpx==0.23.3
jinja2==3.1.2
markdown==3.4.1
punq==0.6.2
pygments==2.14.0
python-frontmatter==1.0.0
starlette==0.23.1
typing_extensions
uvicorn[standard]==0.20.0

# Development, tools and testing dependencies.
autoflake==2.0.0
asgi-lifespan==2.0.0
black==22.12.0
flake8==6.0.0
isort==5.11.4
mypy==0.991
Pillow==9.4.0
pytest==7.2.0
pytest-asyncio==0.20.3
pytest-codeblocks==0.16.1
pytest-cov==4.0.0
pytest-playwright==0.3.0
types-aiofiles==22.1.0.4
types-markdown==3.4.2.5
