# Runtime dependencies.
aiofiles==22.1.0
arel==0.2.0
asgi-sitemaps==1.0.0
babel==2.11.0
httpx==0.23.0
jinja2==3.1.2
markdown==3.4.1
punq==0.6.2
pygments==2.13.0
python-frontmatter==1.0.0
starlette==0.21.0
typing_extensions
uvicorn[standard]==0.20.0

# Development, tools and testing dependencies.
autoflake==1.7.7
asgi-lifespan==1.0.1
black==22.10.0
flake8==5.0.4
isort==5.10.1
mypy==0.982
Pillow==9.3.0
pytest==7.2.0
pytest-asyncio==0.20.1
pytest-codeblocks==0.16.1
pytest-cov==4.0.0
types-aiofiles==22.1.0
types-markdown==3.4.2.1
