aiofiles==0.4.*
datadog==0.34.*
ddtrace==0.31.*
git+https://github.com/florimondmanca/ddtrace-asgi.git@backends
gunicorn==19.*
jinja2==2.10.*
markdown==3.1.*
pygments==2.5.*
python-frontmatter==0.5.*
starlette==0.13.*
uvicorn==0.11.*
