-r requirements.txt

# Development, tools and testing dependencies.
autoflake==1.4
asgi-lifespan==1.0.1
black==20.8b1
exdown==0.7.1
flake8==3.8.4
flake8-bugbear==20.1.4
flake8-comprehensions==3.3.0
flake8-pie==0.6.1
httpx==0.15.5
isort==5.5.4
mypy==0.782
Pillow==8.1.1
pytest==6.1.1
pytest-asyncio==0.14.0
pytest-cov==2.10.1
seed-isort-config==2.2.0
