@use "../variables" as v;
@use "../mixins";

.c-jumbotron {
  display: flex;
  flex-flow: column;
  align-items: center;
  @include mixins.u-ph(6);
  @include mixins.u-pv(6);
}

.c-picture {
  $size: 28;
  width: $size * v.$space-unit;
  height: $size * v.$space-unit;
}

.c-lead {
  font-size: v.$font-size-h3;
}

ul.c-links {
  display: flex;
}
