:root {
  --v: 0.25rem;
  --w: 0.5rem;

  /* Colors */
  --surface: #edeff0;
  --muted: #6b6b6b;
  --danger: #ff0000;
  --primary: #1866ac;
  --background-default: white;
  --text-on-background-default: #424242;

  /* Fonts */
  --font-family: Georgia, serif;
  --font-size-default: 1.2rem;
  --font-size-sm: 1rem;
  --font-size-lg: 1.5rem;
  --font-size-h1: 2.3rem;
  --font-size-h2: 1.8rem;
  --font-size-h3: 1.4rem;
  --font-size-blockquote-mark: 2rem;

  /* Borders */
  --radius-sm: 5px;
}

@media screen and (min-width: 900px) {
  :root {
    --font-size-h1: 2.9rem;
    --font-size-h3: 2.1rem;
    --font-size-h3: 1.5rem;
  }
}
