<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Florimond Manca" />

    <title>{% block title %}diypedals.fm{% endblock title %}</title>

    <!-- PWA Manifest -->
    <link rel="manifest" href="{{ url_for('diypedals:static', path='/manifest.json') }}" />

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('diypedals:static', path='/favicon.ico') }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('diypedals:static', path='/favicon.ico') }}" />

    <!-- Android colors -->
    <meta name="theme-color" content="#59c6b6" />

    <!-- Apple web app config -->
    <link rel="apple-touch-icon" href="{{ url_for('diypedals:static', path='/apple-touch-icon.png') }}" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('diypedals:static', path='/css/styles.css') }}">

    {# {% if settings.WEBMENTIONS_URL %}
      <!-- Webmention (https://webmention.io) -->
      <link rel="webmention" href="{{ settings.WEBMENTIONS_URL }}" />
    {% endif %} #}

    {% block head %}{% endblock head %}
  </head>

  <body style="--container-width: 100ch">
    <nav class="f-container f-box" style="--box-padding: var(--2w)">
      <ul class="f-cluster f-raw-list" style="--box-padding: var(--2w)">
        <li>
          <a href="{{ url_for('diypedals:home') }}" class="f-box">
            <strong>diypedals.fm</strong>
          </a>
        </li>
        <li>
          <a href="{{ url_for('diypedals:build_reports') }}" class="f-box">
            Build reports
          </a>
        </li>
      </ul>
    </nav>

    {% block content %}{% endblock %}

    <!-- Scripts placed at the end of the document so the pages load faster -->

    {% if settings.DEBUG %}
      {{ hotreload.script(url_for('diypedals:hot-reload')) | safe }}
    {% endif %}

    <!-- EcoIndex rating - https://github.com/simonvdfr/ecoindex-light-js -->
    <script src="{{ url_for('static', path='/js/ecoindex.js') }}" async defer></script>

    {% block tail %}{% endblock %}
  </body>
</html>
