<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Florimond's DIY Pedals</title>
  <link rel="stylesheet" href="{{ url_for('static', path='/css/diypedals/index.css') }}">
</head>
<body>
  {% block body %}{% endblock %}

  {% if settings.DEBUG %}
    {{ hotreload.script(url_for('hot-reload')) | safe }}
  {% endif %}
</body>
</html>
