<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Florimond Manca</title>
  <link rel="alternate" type="application/rss+xml" href="https://florimond.dev/blog/feed.rss" title="Florimond Manca RSS Feed">
</head>
<body>
  {% block main %}{% endblock main %}
</body>
</html>
