{% extends "base.jinja" %}

{% block main %}
<h1>Latest posts</h1>

<ul>
  {% for article in articles %}
  <li>
    <a href="{{ with_base('/articles', article.permalink, request=request) }}">
      {{ article.frontmatter.title }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endblock main %}
