{% from "components/navbar.jinja" import NavBar with context %}
{% from "components/footer.jinja" import Footer with context %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="author" content="Florimond Manca" />

    <title>{% block title %}{{ settings.SITE_TITLE }}{% endblock title %}</title>

    <!-- PWA Manifest -->
    <link rel="manifest" href="{{ url_for('static', path='/manifest.json') }}" />

    <!-- Favicons -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', path='/favicon.ico') }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', path='/favicon.ico') }}" />

    <!-- Android colors -->
    <meta name="theme-color" content="#59c6b6" />

    <!-- Apple web app config -->
    <link rel="apple-touch-icon" href="{{ url_for('static', path='/apple-touch-icon.png') }}" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />

    <!-- RSS -->
    <link rel="alternate" type="application/rss+xml" href="https://florimond.dev/feed.rss" title="{{ settings.SITE_TITLE }} - RSS Feed">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">

    {% block head %}{% endblock head %}
  </head>

  <body>
    {{ NavBar() }}

    {% block content %}{% endblock %}

    {{ Footer() }}

    <!-- Scripts placed at the end of the document so the pages load faster -->

    {% if settings.DEBUG %}
      {{ hotreload.script(url_for('hot-reload')) | safe }}
    {% endif %}

    <!-- EcoIndex rating - https://github.com/simonvdfr/ecoindex-light-js -->
    <script src="{{ url_for('static', path='/js/ecoindex.js') }}" async defer></script>

    <!-- htmx -->
    <script src="{{ url_for('static', path='/js/htmx.org@1.8.4/htmx.min.js') }}" async defer></script>

    <!-- Custom bits of JavaScript -->
    <script src="{{ url_for('static', path='/js/main.js') }}" async defer></script>

    {% block tail %}{% endblock %}
  </body>
</html>
