@import "./variables";

@font-face {
  font-family: Agane;
  font-style: normal;
  font-weight: normal;
  src: url("/blog/static/fonts/agane/regular.ttf");
}

@font-face {
  font-family: Agane;
  font-style: normal;
  font-weight: 700;
  src: url("/blog/static/fonts/agane/bold.ttf");
}

@font-face {
  font-family: Agane;
  font-style: normal;
  font-weight: 900;
  src: url("/blog/static/fonts/agane/heavy.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  color: $colorText;
  font-family: "Agane", Arial, sans-serif;
  font-weight: normal;
  font-size: $font-size;
  line-height: $font-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1 * $space-unit;
  margin-bottom: 3 * $space-unit;
}

h1,
h2 {
  font-weight: 900;
}

h3,
h4,
h5,
h6 {
  font-weight: normal;
}

h1 {
  font-size: $font-size-h1;
}

h2 {
  font-size: $font-size-h2;
}

h3 {
  font-size: $font-size-h3;
}

p {
  margin-top: 0;
  margin-bottom: 2 * $space-unit;
}

a {
  text-decoration: none;
  border-bottom: 1px solid $colorPrimary;
  transition: background 80ms;
  cursor: pointer;
  color: inherit;

  &:hover {
    background-color: transparentize($colorPrimary, 0.8);
  }
}

hr {
  margin: 0;
  padding: 0;
  border: 0;
  height: 1px;
  background-color: $colorDivider;
}

// Icons in front of subheaders.
h1[id],
h2[id],
h3[id] {
  position: relative;

  .header-anchor {
    float: left;
    font-weight: normal;
    font-size: 0.85em;
    margin-left: -0.87em;
    padding-right: 0.23em;
    padding-left: 0.23em;
    margin-top: 0.125em;
  }
}

@import "./components";
@import "./util";
@import "./code";
@import "./tables";
@import "./pygments_theme";
@import "./app";
