{% from "components/blog_posting_meta.jinja" import BlogPostingMeta with context %}

{% macro BlogPostingListItem(blog_posting) %}
<li class="f-stack" style="--stack-gap: calc(3 * var(--w))">
  {% with thumbnail_url = blog_posting.thumbnail_url %}
    {% if thumbnail_url %}
      <div class="f-text-center" aria-hidden="true">
        <a href="{{ blog_posting | absolute_url }}" class="f-frame" style="--frame-ratio: 16 / 9">
          <img class="f-posts-item-image" src="{{ thumbnail_url }}" />
        </a>
      </div>
    {% endif %}
  {% endwith %}

  <h3>
    <a href="{{ blog_posting | absolute_url }}">
      {{ blog_posting.name }}
    </a>
  </h3>

  <p>
    {{ blog_posting.abstract }}
  </p>

  {{ BlogPostingMeta(blog_posting) }}
</li>
{% endmacro %}
