{% from "components/utils/content_wrapper.jinja" import ContentWrapper with context %}
{% from "components/social_links.jinja" import SocialLinks with context %}

{% macro Footer(class="") %}
<footer class="{{ class }}">
  {% call ContentWrapper(class="text-center") %}
    {{ SocialLinks() }}
    <p class="my-2">
      © {{ now().year }} Florimond Manca&nbsp;&middot;&nbsp;
      <a href="https://github.com/florimondmanca/www" target="_blank" rel="noreferrer">
        {{ _('Source code') }}
      </a>
    </p>
  {% endcall %}
</footer>
{% endmacro %}
