{% macro KeywordList(keywords) %}
<div class="f-cluster" style="--cluster-gap: var(--w)">
  <span aria-hidden="true">
    🔖
  </span>

  <ul class="f-cluster f-raw-list" role="list">
    {% for keyword in keywords %}
    <li>
      <a class="f-tag" href="{{ keyword | absolute_url }}">
        {{ keyword.name }}
      </a>
    </li>
    {% endfor %}
  </ul>
</div>
{% endmacro %}
