{% from "components/utils/content_wrapper.jinja" import ContentWrapper with context %}

{% macro NavBar(class="") %}
<nav class="p-nav {{ class }}">
  {% call ContentWrapper(class="p-nav-wrapper") %}
    <div class="p-nav-links">
      <a class="inline-block text-lg font-bold py-2 pr-3" href="{{ url_for('home') }}">
        {{ settings.SITE_TITLE }}
      </a>
      <ul class="flex justify-center">
        {% for category in categories %}
        <li>
          <a class="px-4" href="{{ category | absolute_url }}">
            {{ category.name }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
    <ul class="flex justify-center ml-auto">
      {% for language in settings.LANGUAGES %}
      <li>
        <a href="{{ url_for('home', language=language) }}">
          {{ language | language_label }}
        </a>
        {% if not loop.last %}/&nbsp;{% endif %}
      </li>
      {% endfor %}
    </ul>
  {% endcall %}
</nav>
{% endmacro %}
