{% macro Pagination(pagination) %}
    <form hx-get="{{ request.url }}" hx-trigger="change" hx-target="#frame-post-list" hx-push-url="true" data-controller="pagination-form">
        <label for="page">{{ _('Page') }}</label>
        <select id="page" name="page" data-pagination-form-target="select">
            {% for number in range(1, pagination.total_pages + 1) -%}
                <option value="{{ number }}" {% if number == pagination.page_number %}selected{% endif %}>
                    {{ number }} / {{ pagination.total_pages }}
                </option>
            {%- endfor %}
        </select>
    </form>
{% endmacro %}
