{% from "components/post_meta.jinja" import PostMeta with context %}

{% macro PostListItem(post) %}
<li>
  <h3>
    <a href="{{ post | absolute_url }}">
      {{ post.name }}
    </a>
  </h3>

  <p>
    {{ post.abstract }}
  </p>

  {{ PostMeta(post) }}
</li>
{% endmacro %}
