{% from "components/post_list_item.jinja" import PostListItem with context %}
{% from "components/pagination.jinja" import Pagination with context %}

{% macro PostList(pagination) %}
<div class="f-stack" style="--stack-gap: calc(4 * var(--w))" data-testid="post-list">
  {{ Pagination(pagination) }}

  {% if pagination.items|length > 0 -%}
    <ul class="f-raw-list f-stack" role="list" style="--stack-gap: calc(6 * var(--w))">
      {% for post in pagination.items -%}
      {{ PostListItem(post) }}
      {%- endfor %}
    </ul>
  {%- else -%}
    <p class="f-text-center">
      {{ _('No blog posts yet.') }}
    </p>
  {%- endif %}

  {{ Pagination(pagination) }}
</div>
{% endmacro %}
