{% from "components/keyword_list.jinja" import KeywordList with context %}

{% macro PostMeta(post, editable=false) %}
  <div class="f-cluster" style="--cluster-justify: space-between">
    <div class="f-cluster f-text-sm" style="--cluster-gap: calc(3 * var(--v))">
      <a href="{{ post.category | absolute_url }}" class="f-text-muted">
        {{ post.category.name }}
      </a>

      &bullet;

      {{ KeywordList(post.keywords) }}
    </div>

    {% if editable %}
      <a href="{{ post.edit_url }}" target="_blank" rel="no-referrer">
        📝&nbsp;Edit
      </a>
    {% endif %}
  </div>
{% endmacro %}
