{% macro SocialLinks() %}
  <p>
    <strong>
      {{ _('Links') }}
    </strong>
  </p>

  <ul class="f-cluster f-raw-list" role="list" style="--cluster-justify: center; --cluster-align: center; --cluster-gap: calc(2 * var(--w))">
    {% for link in settings.SOCIAL_LINKS %}
      <li>
        <a href="{{ link['href'] }}" title="{{ link['title'] }}" target="_blank" rel="noreferrer">
          {{ link['name'] }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endmacro %}
