// Copied from:
// https://github.com/vuejs/vuepress/blob/1a930dc22e4298b648dad37fa07e2442cdcb3c10/packages/%40vuepress/theme-default/styles/index.styl#L163-L177
table {
  border-collapse: collapse;
  display: block;
  margin: 1rem 0;
  overflow-x: auto;
}

tr {
  border-top: 1px solid #dfe2e5;

  &:nth-child(2n) {
    background-color: #f6f8fa;
  }
}

th, td {
  border: 1px solid #dfe2e5;
  padding: 0.6em 1em;
}
