{% from "components/utils/content_wrapper.jinja" import ContentWrapper with context %}

{% macro Jumbotron() %}
<div class="bg-surface p-10">
  {% call ContentWrapper() %}
  <div class="c-jumbotron-card">
    <img class="rounded-half w-32 h-32 mx-auto" src="{{ url_for('static', path='img/me.png') }}" alt="Picture of me" />
    <div class="c-jumbotron-body">
      <h1 class="font-bold text-3xl my-1">
        Florimond Manca
      </h1>
      <h2 class="text-xl">
        {{ _('Open Source Developer, Idealist On A Journey') }}
      </h2>
      <p class="text-muted mb-3">
        {{ _('I maintain and contribute to libraries, packages, and tools. Mostly Python.') }}
      </p>
    </div>
  </div>

  <ul class="flex justify-center">
    <li>
      <a class="inline-flex px-4 py-1" href="https://github.com/florimondmanca" target="_blank" rel="noopener">
        💻&nbsp;&nbsp;Code
      </a>
    </li>
    <li>
      <a class="inline-flex px-4 py-1" href="https://twitter.com/florimondmanca" target="_blank" rel="noopener">
        🐤&nbsp;&nbsp;Tweets
      </a>
    </li>
  </ul>
  {% endcall %}
</div>
{% endmacro %}
