{% from "components/utils/content_wrapper.jinja" import ContentWrapper with context %}

{% macro NavBar() %}
<nav class="p-page-content">
  {% call ContentWrapper() %}
    <a class="inline-block text-lg font-bold py-2 pr-3" href="{{ url_for('home') }}">
      Florimond Manca
    </a>
  {% endcall %}
</nav>
{% endmacro %}
