{% macro SocialLinks() %}
<p class="font-bold">
  {% trans %}Links{% endtrans %}
</p>

<ul class="flex flex-row justify-center items-center">
  {% for link in settings.SOCIAL_LINKS %}
  <li class="m-2">
    <a href="{{ link['href'] }}" title="{{ link['title'] }}" target="_blank" rel="noreferrer">
      {{ link['name'] }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endmacro %}
