@import "../variables";

@function normalize($val) {
  @if $val == auto or $val == 100% {
    @return $val;
  }
  @return $val * $space-unit;
}

// Margins
@mixin u-ml($val) {
  margin-left: normalize($val);
}

@mixin u-mr($val) {
  margin-right: normalize($val);
}

@mixin u-mb($val) {
  margin-bottom: normalize($val);
}

@mixin u-mt($val) {
  margin-top: normalize($val);
}

@mixin u-mh($val) {
  @include u-ml($val);
  @include u-mr($val);
}

@mixin u-mv($val) {
  @include u-mb($val);
  @include u-mt($val);
}

@mixin u-m($val) {
  @include u-mh($val);
  @include u-mv($val);
}

// Padding
@mixin u-pl($val) {
  padding-left: normalize($val);
}

@mixin u-pr($val) {
  padding-right: normalize($val);
}

@mixin u-pb($val) {
  padding-bottom: normalize($val);
}

@mixin u-pt($val) {
  padding-top: normalize($val);
}

@mixin u-ph($val) {
  @include u-pl($val);
  @include u-pr($val);
}

@mixin u-pv($val) {
  @include u-pb($val);
  @include u-pt($val);
}

@mixin u-p($val) {
  @include u-ph($val);
  @include u-pv($val);
}

// Dimensions
@mixin u-max-w($val) {
  max-width: normalize($val);
}

@mixin u-w($val) {
  width: normalize($val);
}
