{% extends "base.jinja" %}

{% from "components/utils/content_wrapper.jinja" import ContentWrapper with context %}
{% from "components/pages/page_list.jinja" import PageList with context %}
{% from "components/jumbotron.jinja" import Jumbotron with context %}

{% block head %}
  <!-- Twitter card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="Florimond Manca" />
  <meta
    name="twitter:description"
    content="Open Source Developer & Idealist On A Journey"
  />
  <meta name="twitter:site" content="@florimondmanca" />
  <meta name="twitter:creator" content="@florimondmanca" />
  <meta name="twitter:url" content="{{ request.url }}" />
  <meta
    name="twitter:image"
    content="{{ url_for('static', path='/social.png') }}"
  />

  <!-- OpenGraph card -->
  <meta property="og:title" content="Florimond Manca" />
  <meta
    property="og:description"
    content="Open Source Developer & Idealist On A Journey"
  />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.url }}" />
  <meta
    property="og:image"
    content="{{ url_for('static', path='/social.png') }}"
  />
{% endblock head %}

{% block content %}
{{ Jumbotron() }}
{% call ContentWrapper(class="p-page-content") %}
  {{ PageList(get_articles()) }}
{% endcall %}
{% endblock %}
