{% extends "base.jinja" %}

{% from "components/pages/tag_page.jinja" import TagPage with context %}
{% from "components/pages/category_page.jinja" import CategoryPage with context %}
{% from "components/pages/post.jinja" import PostPage with context %}

{% block head %}
  {{ super() }}
  {% for item in page.meta -%}
    {{ item | safe }}
  {%- endfor %}
{% endblock head %}

{% block title %}
  {{ page.frontmatter.title or settings.SITE_TITLE }}
{% endblock title %}

{% block content %}
<main class="mt-6">
  {%- if page.is_private -%}
  <p style="color: red; text-align: center;">{{ _("This is a private link: please do not share!") }}</p>
  {%- endif -%}

  {%- if page.frontmatter.tag -%}
    {{ TagPage(page.frontmatter.tag, get_post_pages(tag=page.frontmatter.tag)) }}
  {%- elif page.is_post -%}
    <div class="px-4 code-container">
      {{ PostPage(page) }}
    </div>
  {%- elif page.is_category -%}
    {{ CategoryPage(page.frontmatter.category, get_post_pages(category=page.frontmatter.category)) }}
  {%- else -%}
    {{ raise("Unknown page type") }}
  {%- endif -%}
</main>
{% endblock content %}
