{% extends "base.jinja" %}

{% from "components/pages/tag_page.jinja" import TagPage with context %}
{% from "components/pages/article_page.jinja" import ArticlePage with context %}

{% block head %}
  {{ super() }}
  {% for item in page.meta -%}
    {{ item | safe }}
  {%- endfor %}
{% endblock head %}

{% block title %}
  {{ page.frontmatter.title or settings.SITE_TITLE }}
{% endblock title %}

{% block content %}
<main class="mt-6">
  {%- if page.frontmatter.tag -%}
    {{ TagPage(page.frontmatter.tag, get_articles(tag=page.frontmatter.tag)) }}
  {%- elif page.is_article -%}
    <div class="p-page-content code-container">
      {{ ArticlePage(page) }}
    </div>
  {%- else -%}
    {{ raise("Unknown page type") }}
  {%- endif -%}
</main>
{% endblock content %}
