// Core.
$colorText: #424242;
$colorPrimary: #478cc9;
$colorWarn: #f1714f;
$colorAccent: #ea3b53;
$colorMuted: #6b6b6b;
$colorCode: lighten($colorText, 15%);
$colorCodeInlineBackground: #edeff0;
$colorCodeBackground: #282c35;
// Derived.
$colorDivider: lighten($colorMuted, 40%);
$colorBackgroundCard: #edeff0;
