@require './variables';
@require './mixins';

.p-btn {
  background: none;
  border: 0;
  box-shadow: 0px 1px 3px 0px alpha(black, 30%);
  color: inherit;
  display: inline-flex;
  align-items: center;
  font-size: 100%;
  font-family: inherit;
  padding-left: 3 * $space-unit;
  padding-right: 3 * $space-unit;
  border-radius: 3px;
  height: 7 * $space-unit;
  line-height: 3.5 * $space-unit;

  &:hover {
    cursor: pointer;
  }
}

.p-btn--primary {
  background: $colorPrimary;
  box-shadow: 0px 1px 3px 0px alpha(black, 30%);

  &:hover {
    background: darken($colorPrimary, 10%);
  }

  &:focus {
    background: darken($colorPrimary, 20%);
  }
}

.p-btn--warn {
  background: $colorWarn;

  &:hover {
    background: darken($colorWarn, 10%);
  }

  &:focus {
    background: darken($colorWarn, 20%);
  }
}

.p-btn--icon {
  :first-child {
    margin-right: $space-unit;
  }
}

.p-card {
  background-color: $colorBackgroundCard;
  padding: 1em 2em;
  border-radius: 3px;
}

.p-image {
  u-mv(4);

  img {
    display: block;
    max-width: 100%;
    margin: auto;
  }

  figcaption {
    u-pt(2);
    text-align: center;
    color: $colorMuted;
    font-style: italic;
    font-size: $font-size-caption;
  }
}

.p-markdown-image {
  @extend .p-image;

  img {
    max-height: 20em;
  }
}
