.f-grid {
  display: grid;
  grid-gap: var(--grid-gap, calc(4 * var(--w)));
  justify-items: var(--grid-justify-items, flex-start);
}

.f-grid {
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(var(--grid-item-min), 100%), 1fr)
  );
}

.f-grid > * {
  max-width: var(--grid-item-max, 100%);
}
