{% from "components/pages/post_meta.jinja" import PostMeta with context %}

{% macro PostListItem(page) %}
<li class="c-page-list-item">
  {% with image_src = page.frontmatter.image_thumbnail or page.frontmatter.image %}
    {% if image_src %}
    <div class="text-center">
      <a href="{{ url_for('page', permalink=page.permalink.lstrip('/')) }}" class="inline-block mb-3">
        <img src="{{ image_src }}" />
      </a>
    </div>
    {% endif %}
  {% endwith %}

  <div>
    <h3 class="font-bold mt-1 mb-3">
      <a href="{{ url_for('page', permalink=page.permalink.lstrip('/')) }}">
        {{ page.frontmatter.title }}
      </a>
    </h3>

    <p class="mb-2">
      {{ page.frontmatter.description }}
    </p>

    <small>
      {{ PostMeta(page) }}
    </small>
  </div>
</li>
{% endmacro %}
