{% from "components/pages/post_meta.jinja" import PostMeta with context %}

{% macro PostListItem(page) %}
<li class="c-page-list-item">
  {% with image_src = page.metadata.image_thumbnail or page.metadata.image %}
    {% if image_src %}
    <div class="text-center">
      <a href="{{ url_for('page', permalink=page.permalink.lstrip('/')) }}" class="inline-block mb-3" title="{{ _('Read') }} '{{ page.metadata.title }}'">
        <img width="320" height="180" src="{{ image_src }}" alt="{{ _('Image for') }} '{{ page.metadata.title }}'" />
      </a>
    </div>
    {% endif %}
  {% endwith %}

  <div>
    <h3 class="font-bold mt-1 mb-3">
      <a href="{{ url_for('page', permalink=page.permalink.lstrip('/')) }}">
        {{ page.metadata.title }}
      </a>
    </h3>

    <p class="mb-2">
      {{ page.metadata.description }}
    </p>

    <small>
      {{ PostMeta(page) }}
    </small>
  </div>
</li>
{% endmacro %}
