{% from "components/pages/tag_list.jinja" import TagList with context %}

{% macro PostMeta(page, editable=false) %}
<div class="c-post-meta">
  <div class="text-muted-500 pr-3">
    {{ page.metadata.date | dateformat }}
    |
    <a href="{{ url_for('page', permalink=i18n_path('/category/' + page.metadata.category.name).lstrip('/')) }}">
      {{ _(page.metadata.category.name | capitalize) }}
    </a>
  </div>

  {{ TagList(page.metadata.tags) }}
</div>

{% if editable %}
<a
  class="block"
  href="https://github.com/florimondmanca/www/blob/master/content{{ page.permalink }}.md"
  rel="no-referrer"
  target="_blank"
>
  📝&nbsp;Edit
</a>
{% endif %}
{% endmacro %}
