{% from "components/pages/post_list_item.jinja" import PostListItem with context %}

{% macro PostList(pages) %}
{%- if pages -%}
<ul class="c-page-list">
  {% for page in pages -%}
    {{ PostListItem(page) }}
  {%- endfor %}
</ul>
{%- else -%}
  <p class="text-center">
    {{ _('No posts yet.') }}
  </p>
{%- endif -%}
{% endmacro %}
