{% from "blog/components/content_wrapper.jinja" import ContentWrapper %}
{% from "blog/components/social_links.jinja" import SocialLinks %}

{% macro Footer() %}
<footer>
  {% call ContentWrapper(class="u-text-center") %}
    {{ SocialLinks() }}
    <p class="u-mt-2">
      © {{ now.year }} &middot; Made with ❤️ by Florimond Manca
    </p>
  {% endcall %}
</footer>
{% endmacro %}
