{% from 'blog/components/list_item.jinja' import ListItem %}

{% macro List(pages) %}
{% for page in pages -%}
  {{ ListItem(page) }}
{%- else -%}
  <p>
    No articles yet.
  </p>
{%- endfor %}
{% endmacro %}
