{% from "blog/components/content_wrapper.jinja" import ContentWrapper with context %}

{% macro NavBar() %}
<nav class="u-ph-4">
  {% call ContentWrapper() %}
    <span class="c-navbar-brand">
      <a href="{{ url_for('home') }}">
        Florimond Manca
      </a>
    </span>
  {% endcall %}
</nav>
{% endmacro %}
