{% from "blog/components/content_wrapper.jinja" import ContentWrapper %}

{% macro NavBar() %}
<nav class="c_navbar u-ph-4">
  {% call ContentWrapper() %}
    <ul class="u-list-reset">
      <li class="c_navbar-brand">
        <a href="{{ with_base('/') }}">
          Florimond Manca
        </a>
      </li>
      <!-- TODO Implement search -->
    </ul>
  {% endcall %}
</nav>
{% endmacro %}
