{% macro SocialLinks() %}
{% set links = [
  {
    "href": "https://github.com/florimondmanca",
    "name": "GitHub",
    "title": "GitHub (@florimondmanca)",
  },
  {
    "href": "https://twitter.com/florimondmanca",
    "name": "Twitter",
    "title": "Twitter (@florimondmanca)",
  },
  {
    "href": "https://www.linkedin.com/in/florimondmanca",
    "name": "LinkedIn",
    "title": "LinkedIn (florimondmanca)",
  },
  {
    "href": "https://dev.to/florimondmanca",
    "name": "DEV",
    "title": "DEV (@florimondmanca)",
  },
] %}

<p class="u-mt-10 u-mb-0"><strong>Links</strong></p>

<ul class="u-list-reset u-flex-centerHorizontal u-flex-row">
  {% for link in links %}
  <li class="u-m-2">
    <a href="{{ link['href'] }}" title="{{ link['title'] }}" target="_blank" rel="noreferrer">
      {{ link['name'] }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endmacro %}
