{% from "blog/components/content_wrapper.jinja" import ContentWrapper %}
{% from "blog/components/list.jinja" import List %}

{% macro Tag(tag, pages) %}
{% call ContentWrapper() %}
  <h1>Tag: #{{ tag }}</h1>

  {{ List(pages) }}
{% endcall %}
{% endmacro %}
