/* CSS variables. */
:root {
  --space-unit: 6px;
}

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.t-picture {
  --size: 28;
  width: calc(var(--size) * var(--space-unit));
  height: calc(var(--size) * var(--space-unit));
}
