@font-face {
    font-family: 'Aganè';
    src: url('fonts/agane-regular.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'Aganè';
    src: url('fonts/agane-heavy.ttf');
    font-weight: bold;
}
@font-face {
    font-family: 'Aganè';
    src: url('fonts/agane-light.ttf');
    font-weight: 100;
}
