html {
  min-height: 100%;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  padding: 0;
  padding: 0 3em;
  box-sizing: border-box;
  margin: 1em 0;
  font-size: 16px;
  font-weight: normal;
  font-family: 'Aganè', sans-serif;
  display: flex;
  min-height: 90vh;
  line-height: 1.4;
  color: var(--color-muted);
  background: var(--color-text);
}

::selection {
  background: var(--color-muted);
}

a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  color: var(--color-light);
}

.typed-cursor {
  color: var(--color-muted);
}

strong {
  font-weight: bold;
}

h1 {
  font-size: 2em;
  font-weight: normal;
}
@media (min-width: 460px) {
  h1 {
    font-size: 2.4em;
  }
}
@media (min-width: 600px) {
  h1 {
    font-size: 3em;
  }
}

h2 {
  font-size: 1.2em;
  font-weight: 100;
}
@media (min-width: 400px) {
  h2 {
    font-size: 1.6em;
  }
}

/* Layout */

main {
  max-width: 45em;
  height: fit-content;
  margin: auto;
}

#subtitle {
  font-size: 1.2em;
  /* Fixed height to prevent height blinking when typed.js changes string */
  height: 3em;
  margin-bottom: 1em;
  /* width: 100%; */
  text-align: left;
  box-sizing: border-box;
}
@media (min-width: 600px) {
  #subtitle {
    font-size: 1.5em;
    height: 1.2em;
  }
}

#typed-title {
  margin-top: 0;
  margin-bottom: .5em;
}

#typed-item {
  color: white;
}

/* Remove styles */
button {
  background: none;
  color: inherit;
  border: none;
  padding: 16px;
  box-sizing: border-box;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: table-cell;
  vertical-align: middle;
  line-height: .5em;
  /* border-radius: 3px; */
  /* Prevent text from wrapping weirdly inside button */
  white-space: nowrap;
}

#cta {
  display: flex;
  justify-content: center;
}

button#read-blog {
  color: var(--color-text);
  background: var(--color-primary);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  transition: background 200ms, box-shadow 200ms;
}
button#read-blog:hover {
  background: var(--color-primary-light);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#socials {
  margin-top: 2em;
  display: flex;
  justify-content: center;
}

#socials a {
  margin: 0 .5em;
  padding: 1em;
}
#socials a:hover {
  color: var(--color-light);
}

#name {
  color: white;
}
