{% extends "base.html.jinja" %}

{% block content %}
<main role="main">
  <div class="container mt-5 text-center">
    <h1 class="display-3">500</h1>
    <p>Server error.</p>
  </div>
</main>
{% endblock %}
