<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Open Source Developer & Idealist On A Journey"
    />
    <meta name="author" content="Florimond Manca" />

    <title>Florimond Manca</title>

    <!-- Custom CSS -->
    <link
      href="{{ url_for('static', path='/css/custom.css') }}"
      rel="stylesheet"
    />

    <!-- Bootstrap core CSS -->
    <link
      href="{{ url_for('static', path='/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="navbar navbar-light fixed-top bg-light">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('home') }}">
          Florimond Manca
        </a>
        <ul class="navbar-nav mr-auto"></ul>
      </div>
    </nav>
    {% block content %}{% endblock %}

    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', path='/js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>
    <!-- FontAwesome icons -->
    <script src="https://kit.fontawesome.com/d38a96501e.js" crossorigin="anonymous"></script>
    {% block tail %}{% endblock %}
  </body>
</html>
