<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta
      name="description"
      content="Open Source Developer & Idealist On A Journey"
    />
    <meta name="author" content="Florimond Manca" />

    <title>Florimond Manca</title>

    <!-- Custom CSS -->
    <link
      href="{{ url_for('static', path='/css/custom.css') }}"
      rel="stylesheet"
    />

    <!-- Bootstrap core CSS -->
    <link
      href="{{ url_for('static', path='/css/bootstrap.min.css') }}"
      rel="stylesheet"
    />
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('home') }}">
          Florimond Manca
        </a>
        <ul class="navbar-nav mr-auto"></ul>
      </div>
    </nav>
    {% block content %}{% endblock %}

    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', path='/js/jquery-3.3.1.slim.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/popper.min.js') }}"></script>
    <script src="{{ url_for('static', path='/js/bootstrap.min.js') }}"></script>
    <!-- FontAwesome icons -->
    <script
      src="https://kit.fontawesome.com/d38a96501e.js"
      crossorigin="anonymous"
    ></script>
    <!-- Dark mode widget -->
    <script src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.0/lib/darkmode-js.min.js"></script>
    <script>
      var darkmode = new Darkmode({
        bottom: "32px",
        right: "32px",
        left: "unset",
        time: "0.4s",
        mixColor: "#fff",
        backgroundColor: "#fff",
        buttonColorDark: "#100f2c",
        buttonColorLight: "#fff",
        saveInCookies: true, // Misnomer: whether persisting theme in localStorage is enabled.
        label: "🌗",
        autoMatchOsTheme: true
      });
      darkmode.showWidget();
    </script>
    {% block tail %}{% endblock %}
  </body>
</html>
