{% extends "base.html.jinja" %}

{% block content %}
<main role="main">
  <div class="container text-center">
    <div class="jumbotron bg-white">
      <h1 class="display-5">
        Florimond Manca
      </h1>
      <p class="lead">
        Open Source Developer, Idealist On A Journey
      </p>
      <p>
        I maintain and contribute to libraries, packages, and tools. Mostly in Python.
      </p>
    </div>
  </div>
</main>
{% endblock content %}
