{% from "components/pages/page_list_item.jinja" import PageListItem with context %}

{% macro PageList(pages) %}
{% for page in pages -%}
  {{ PageListItem(page) }}
{%- else -%}
  <p>
    No articles yet.
  </p>
{%- endfor %}
{% endmacro %}
