{% from "components/pages/tag_list.jinja" import TagList with context %}

{% macro PageListItem(page) %}
<article class="c-list-item">
  <div class="c-list-item-header">
    {% if page.frontmatter.date -%}
      <label class="u-color-muted">
        {# TODO: date filter #}
        {{ page.frontmatter.date }}
      </label>
    {%- endif %}

    {% if page.frontmatter.tags -%}
      {{ TagList(
        page.frontmatter.tags,
        class="c-list-item-tags" + (" separated" if page.frontmatter.date else "")
      ) }}
    {%- endif %}
  </div>

  <h3>
    <a href="{{ url_for('blog', path=page.permalink) }}">
      {{ page.frontmatter.title }}
    </a>
  </h3>

  <p>
    {{ page.frontmatter.description }}
  </p>
</article>
{% endmacro %}
