{% macro TagList(tags, class="") %}
<ul class="flex {{ class }}">
  {% for tag in tags %}
  <li class="c-tag-list-item">
    <a href="{{ url_for('page', permalink='tag/' + tag) }}">
      #{{ tag }}
    </a>
  </li>
  {% endfor %}
</ul>
{% endmacro %}
