resources:
  repositories:
    - repository: templates
      type: github
      endpoint: github
      name: florimondmanca/azure-pipelines-templates
      ref: refs/tags/3.2

trigger:
  - master

pr:
  - master

variables:
  CI: true
  PIP_CACHE_DIR: $(Pipeline.Workspace)/.cache/pip
  YARN_CACHE_FOLDER: $(Pipeline.Workspace)/.yarn
  IS_MASTER_BRANCH: $[eq(variables['Build.SourceBranch'], 'refs/heads/master')]

jobs:
  - template: job--python-check.yml@templates
    parameters:
      pythonVersion: "3.8"

  - job: Build
    steps:
      - template: step--yarn-provision.yml@templates
        parameters:
          nodeVersion: "12"
      - script: yarn install
      - bash: scripts/build

  - template: job--python-test.yml@templates
    parameters:
      jobs:
        py38:
          coverage: true

  - job: Deploy
    dependsOn:
      - Check
      - Build
      - py38
    condition: and(succeeded(), eq(variables.IS_MASTER_BRANCH, true))
    steps:
      - task: InstallSSHKey@0
        inputs:
          knownHostsEntry: florimond.dev ecdsa-sha2-nistp256 AAAAE2VjZHNhLXNoYTItbmlzdHAyNTYAAAAIbmlzdHAyNTYAAABBBD7z+We1qSM6E/IJS1qEUT9liHdQdNL96pAqUSTElAjk+NZsMXViY/ThWG4HkuOQeTsIhlzXvg75xJ8JTWbgWVI=
          sshKeySecureFile: florimond-dev-deploy-id_rsa
      - bash: scripts/deploy
