@use "../../variables" as v;
@use "../../mixins";

.c_list_item-item {
  padding: 1em 0;

  & + .c_list_item-item {
    border-top: 1px solid v.$colorDivider;
  }
}

.c_list_item-post-header {
  font-size: smaller;

  @include mixins.forSize(tablet) {
    font-size: inherit;
  }
}

.c_list_item-tag-list {
  &.separated::before {
    content: "\2219";
  }
}
