@use "../../variables" as v;

.c_navbar-nav {
  background-color: v.$colorBackgroundCard;
  z-index: 100; // Float on top of page content.

  ul {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 6 * v.$space-unit;
    align-items: center;

    li {
      display: flex;
      align-items: center;
    }
  }
}

.c_navbar-title {
  font-size: v.$font-size-title;
  width: fit-content;
}
