@use "../../variables" as v;
@use "../../mixins";

.c_navbar {
  background-color: v.$colorBackgroundCard;

  ul {
    display: flex;
    align-items: center;

    li {
      $pad: 3;

      &.c_navbar-item {
        a {
          @include mixins.u-pv($pad / 2);
          @include mixins.u-ph($pad);
        }
      }

      &.c_navbar-brand {
        font-size: v.$font-size-brand;
        font-weight: v.$font-weight-headers;
        @include mixins.u-pv($pad / 2);
        @include mixins.u-pr($pad);
      }
    }
  }
}
