{% from "components/comments.jinja" import Comments with context %}
{% from "components/utils/content_wrapper.jinja" import ContentWrapper with context %}
{% from "components/pages/article_meta.jinja" import ArticleMeta with context %}

{% macro ArticlePage(page) %}
{% call ContentWrapper(class="c-article-page") %}
  <header class="mb-6 border-b border-muted-700">
    <div class="flex justify-between">
      {{ ArticleMeta(page, editable=true) }}
    </div>

    <h1 class="text-3xl font-bold mt-2 mb-4 leading-sm">
      {{ page.frontmatter.title }}
    </h1>

    {% if page.frontmatter.description -%}
      <p class="text-muted mb-6">
        {{ page.frontmatter.description }}
      </p>
    {%- endif %}

    {% if page.frontmatter.image -%}
      <div class="p-image">
        <img
          src="{{ page.frontmatter.image }}"
          alt="{{ page.frontmatter.image_caption or '' }}"
        />
        {% if page.frontmatter.image_caption -%}
          <figcaption>
            {{ page.frontmatter.image_caption }}
          </figcaption>
        {%- endif %}
      </div>
    {%- endif %}
  </header>

  <article>
    <div class="markdown">
      {{ page.html | safe }}
    </div>

    <footer class="p-card">
      <h3 class="mb-3">
        Stay in touch!
      </h3>
      <p>
        If you enjoyed this post, you can
        <a class="p-link" href="https://twitter.com/florimondmanca" target="_blank" rel="noreferrer">
          find me on Twitter
        </a>
        for updates, announcements and news. 🐤
      </p>
    </footer>

    <section class="mt-6">
      {{ Comments() }}
    </section>
  </article>

  {# TODO: previous/next navigation #}

{% endcall %}
{% endmacro %}
