{% from "components/pages/tag_list.jinja" import TagList with context %}

{% macro ArticleMeta(page, editable=false) %}
<div class="c-article-meta">
  <label class="c-article-meta-date text-muted">
    {{ page.frontmatter.date }}
  </label>

  {{ TagList(page.frontmatter.tags, class="c-article-meta-tags") }}

  {% if editable %}
  <div class="c-article-meta-edit">
    <a
      href="https://github.com/florimondmanca/www/blob/master/content{{ page.permalink }}.md"
      rel="no-referrer"
      target="_blank"
    >
      📝&nbsp;Edit
    </a>
  </div>
  {% endif %}
</div>
{% endmacro %}
