{% from "components/pages/tag_list.jinja" import TagList with context %}

{% macro ArticleMeta(page, editable=false) %}
<div class="c-article-meta">
  <div class="text-muted pr-3">
    {{ page.frontmatter.date | dateformat }}
    |
    in
    <a href="{{ url_for('page', permalink='/category/' + page.frontmatter.category) }}">
      {{ page.frontmatter.category | category_label }}
    </a>
  </div>

  {{ TagList(page.frontmatter.tags) }}
</div>

{% if editable %}
<a
  class="block"
  href="https://github.com/florimondmanca/www/blob/master/content{{ page.permalink }}.md"
  rel="no-referrer"
  target="_blank"
>
  📝&nbsp;Edit
</a>
{% endif %}
{% endmacro %}
