{% from "components/pages/article_meta.jinja" import ArticleMeta with context %}

{% macro PageListItem(page) %}
<li class="c-page-list-item">
  {{ ArticleMeta(page) }}

  <h3 class="font-bold mt-1 mb-3">
    <a href="{{ url_for('page', permalink=page.permalink.lstrip('/')) }}">
      {{ page.frontmatter.title }}
    </a>
  </h3>

  <p class="mb-2">
    {{ page.frontmatter.description }}
  </p>
</li>
{% endmacro %}
