{% from "components/pages/article_meta.jinja" import ArticleMeta with context %}

{% macro PageListItem(page) %}
<li class="c-page-list-item">
  {% if page.frontmatter.image %}
    <a href="{{ url_for('page', permalink=page.permalink.lstrip('/')) }}">
      <img src="{{ page.frontmatter.image }}" class="mb-3" />
    </a>
  {% endif %}

  <h3 class="font-bold mt-1 mb-3">
    <a href="{{ url_for('page', permalink=page.permalink.lstrip('/')) }}">
      {{ page.frontmatter.title }}
    </a>
  </h3>

  <p class="mb-2">
    {{ page.frontmatter.description }}
  </p>

  <small>
    {{ ArticleMeta(page) }}
  </small>
</li>
{% endmacro %}
