{% from "components/pages/page_list_item.jinja" import PageListItem with context %}

{% macro PageList(pages) %}
<ul class="c-page-list">
  {% for page in pages -%}
    {{ PageListItem(page) }}
  {%- else -%}
</ul>
  <p>
    {% trans %}No articles yet.{% endtrans %}
  </p>
{%- endfor %}
{% endmacro %}
