{% from "components/pages/page_list_item.jinja" import PageListItem with context %}

{% macro PageList(pages) %}
<ul>
  {% for page in pages -%}
    {{ PageListItem(page) }}
  {%- else -%}
</ul>
  <p>
    No articles yet.
  </p>
{%- endfor %}
{% endmacro %}
