{% from "components/comments.jinja" import Comments with context %}
{% from "components/utils/content_wrapper.jinja" import ContentWrapper with context %}
{% from "components/pages/post_meta.jinja" import PostMeta with context %}

{% macro PostPage(page) %}
{% call ContentWrapper(class="c-post-page") %}
  <header class="mb-6 border-b border-muted-700">
    <div class="flex justify-between">
      {{ PostMeta(page, editable=true) }}
    </div>

    <h1 class="text-3xl font-bold mt-2 mb-4 leading-sm">
      {{ page.frontmatter.title }}
    </h1>

    {% if page.frontmatter.description -%}
      <p class="text-muted-500 mb-6">
        {{ page.frontmatter.description }}
      </p>
    {%- endif %}

    {% if page.frontmatter.image -%}
      <div class="p-image">
        <img
          src="{{ page.frontmatter.image }}"
          alt="{{ page.frontmatter.image_caption or '' }}"
        />
        {% if page.frontmatter.image_caption -%}
          <figcaption>
            {{ page.frontmatter.image_caption }}
          </figcaption>
        {%- endif %}
      </div>
    {%- endif %}
  </header>

  <article>
    <div class="markdown">
      {{ page.html | safe }}
    </div>

    <section class="mt-6 print:hidden">
      {{ Comments() }}
    </section>
  </article>

  {# TODO: previous/next navigation #}

{% endcall %}
{% endmacro %}
