{% extends "base.jinja" %}

{% from "components/meta_tags.jinja" import MetaTags with context %}

{% block head %}
{{ super() }}
{{ MetaTags(keyword) }}
{% endblock head %}

{% block title %}
{{ keyword.meta_title }}
{% endblock title %}

{% block content %}
<main class="mt-6">
  <div class="c-page-list-container">
    <h1 class="font-bold mb-4">
      Tag: #{{ keyword.name }}
    </h1>

    <div id="blog-posting-list">
      {% include "partials/blog_posting_list.jinja" with context%}
    </div>
  </div>
</main>
{% endblock content %}
