{% extends "base.jinja" %}

{% from "components/utils/content_wrapper.jinja" import ContentWrapper with context %}
{% from "components/pages/post_list.jinja" import PostList with context %}
{% from "components/jumbotron.jinja" import Jumbotron with context %}

{% block head %}
  <!-- Twitter card -->
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="All posts" />
  <meta
    name="twitter:description"
    content="Open Source Developer & Idealist On A Journey"
  />
  <meta name="twitter:site" content="@florimondmanca" />
  <meta name="twitter:creator" content="@florimondmanca" />
  <meta name="twitter:url" content="{{ request.url }}" />
  <meta
    name="twitter:image"
    content="{{ url_for('static', path='/social.png') }}"
  />

  <!-- OpenGraph card -->
  <meta property="og:title" content="{{ settings.SITE_TITLE }}" />
  <meta
    property="og:description"
    content="Open Source Developer & Idealist On A Journey"
  />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ request.url }}" />
  <meta
    property="og:image"
    content="{{ url_for('static', path='/social.png') }}"
  />
{% endblock head %}

{% block content %}
<div class="c-page-list-container">
  <h1 class="mb-6">
    {{ _('All posts') }}
  </h1>

  {{ PostList(get_post_pages()) }}
</div>
{% endblock %}
