{% extends "base.jinja" %}

{% from "components/meta_tags.jinja" import MetaTags with context %}
{% from "components/utterances.jinja" import UtterancesComments with context %}
{% from "components/post_meta.jinja" import PostMeta with context %}

{% block head %}
  {{ super() }}
  {{ MetaTags(post) }}
{% endblock head %}

{% block title %}
  {{ post.meta_title }}
{% endblock title %}

{% block content %}
<main class="f-container f-box" style="--container-width: calc(100 * var(--w)); --box-padding: calc(4 * var(--w)) 0">
  {%- if post.is_private -%}
    <p class="f-text-danger f-center f-box" style="--box-padding: var(--w)">
      {{ _("This is a private link: please do not share!") }}
    </p>
  {%- endif -%}

  <div class="f-stack" style="--stack-gap: calc(6 * var(--w))">
    <div class="f-stack" style="--stack-gap: calc(2 * var(--w))">
      {{ PostMeta(post, editable=true) }}

      <h1>
        {{ post.name }}
      </h1>

      {% if post.abstract -%}
        <p class="fr-text-muted f-text-bold">
          {{ post.abstract }}
        </p>
      {%- endif %}

      <p>
        <time datetime="{{ post.date_published }}">
          {{ post.date_published | dateformat }}
        </time>
      </p>
    </div>

    <div class="f-markdown">
      {{ post.text | safe }}
    </div>

    <div class="f-print-hidden">
      {{ UtterancesComments() }}
    </div>
  </div>
</main>
{% endblock content %}
